/*Presets*/
* {
    margin: 0;
    padding: 0;
}

.main {
    background-color: cornflowerblue;
}

.sidebar {
    background-color: chartreuse;
}

/*Container*/
#container {
    display: block;
}

/*Main*/

/*Sidebar*/
.sidebar {
    display: none;
}